/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting for pagination links and showing count */
.links.ng-scope {
  padding-left: 30px;
}

.list-links.ng-scope {
  padding-left: 22px;
}

/* Filter alignment */
.searchFilter {
  margin-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .links.ng-scope {
    padding-left: 28px;
  }

  .list-links.ng-scope {
    padding-left: 15px;
  }

  .searchFilter {
    margin-right: 15px;
  }
}
