<div class="container">

  <div class="page-header">
    <h1> Add Customer </h1>
  </div>
  <form name="customerForm">

    <div class="form-group">
      Name : <input type="text" placeholder="Enter customer name" ng-model="customer.Name" required>
    </div>
    <div class="form-group">
      Location : <input type="text" placeholder="Enter customer location" ng-model="customer.Location" required>
    </div>

    <div class="form-group">
      orders : <input type="text" ng-model="customer.orders" ng-init="custromer.orders=0" required>
    </div>
    <div class="form-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown">Select Picture <span
          class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a ng-click="customer.image='/images/female_user_icon.png'">/images/female_user_icon.png</a></li>
          <li><a ng-click="customer.image='/images/male_user_icon.png'">/images/male_user_icon.png</a></li>
        </ul>

      </div><!-- /btn-group -->
      <input type="text" name="image" ng-model="customer.image" readonly required>
    </div>

    <!-- image : <input type="file" >
         </div>  -->
    <div class="form-group">
      <button type="submit" ng-click="addCustomer()" value="Add Customer" ng-disabled="customerForm.$invalid"> Add
        Customer
      </button>
    </div>
    <div class="form-group" id="addCustomer"></div>
  </form>
</div>
